<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretendard@1.3.8/dist/web/static/pretendard.css">
</head>
<body>
<div class="layout-wrapper">

  <!--헤더 -->


  <div class="page-container">
    <main class="mypage-container">
      <aside class="sidebar"></aside>
      <section class="content">
        <h1>리뷰 작성</h1>
        <div class="product-summary">
          <div class="product-img">

          </div>
          <div class="product-info">
            <div class="product-title">상품명</div>
            <img src="" alt="">
            <div class="product-desc">간략 설명</div>
            <div class="product-price">0원</div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
</body>
</html>